body {
    background-color:linen;
    margin: 0 10px;
    border-style: solid;
}

.main {
background-color: lightgray;
text-align:center;
}
/*main-body alters the div that the recipe links sit in*/
#main-body {
    border:2px solid whitesmoke;
    padding: 10px;
    width: 300px;
    margin-left:  auto;
    margin-right: auto;
}
.recipe-link {
    font-family: sans-serif, 'Times New Roman';
    font-weight: 700;
    font-size: 22px;
    margin:10px;
}
/*h1 affects all pages giving hem dark red banners with white letters.*/
h1 {
    background-color:darkred;
    font-size: 30px;
    color: white;
    padding: 5px;
}

p {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}
/* food-picture makes all images within recipe pages the same.*/
.food-picture {
    width: 300px;
    height: auto;
}
/*This centers all images in the recipe pages.*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}