.main {
background-color: lightgray;
text-align:center;
}

.recipe-link {
    font-family: sans-serif, 'Times New Roman';
    font-weight: 700;
    font-size: 22px;
}

h1 {
    background-color:darkred;
    font-size: 30px;
    color: whitesmoke;
}

p {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.food-picture {
    width: 300px;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}